// Navigation code here

nav {
  background-color: @wild-sand;
  padding-bottom: 10px;
  
  .innerWrap {
    width: 800px;
    margin: 0 auto;

    .h1Wrapper {
      h1 {
        text-align: center;
        font-size: 4rem;
        padding: 10px 0;
      }
    } // End of .h1Wrapper

    .linkWrapper ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        a {
          text-decoration: none;
          font-size: 1.8rem;
          color: @shuttle-gray;
          padding: 0 20px;
        } // End of li a
      } // End of li
    } // End of .linkWrapper ul
  } // End of .innerWrap
} // End of nav

.earthBanner {
  width: 800px;
  margin: 0 auto;

  img {
    border-radius: 5px;
  }
}